<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Fourth section : Conclusion </center>


In this notebook you will be comparing the results of the two methods we used on the created testset. That is said: you will compare the results to the clustering with the results of the classification on the same test test and provide insights and explanation about the observed behaviour.

For this final task you will need to : 
1. Load the testset data that you created all along this project 
2. For each cluster provide percentages about each actual/ predicted class contained with this cluster. Eg : cluster N°2 : is made of ( 50% class 2 and 50% class 3 ) from actual labels and ( 40 % predicted class 2 and 40% predicted class 3 + 20% predicted class 1) 
The above is just an example and is far away from the actual situation.

3. Explain the behaviour and provide isights about it

## 1.  Load the data:

In [5]:
import pandas as pd

In [6]:
# To-Do : load the test summary data 
df = pd.read_csv("test_summary.csv")
#df= df.drop(["Unnamed: 0"],axis = 1)

In [7]:
y_true = df['Category']
y_pred = df['cluster']

In [8]:
df

,ID,Age,Category,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
0,254,56,0,0,42.9,50.0,20.4,22.1,5.4,7.28,5.37,90.0,34.6,76.0,3,0
1,507,57,0,1,44.7,60.6,16.5,24.3,4.2,10.47,4.90,68.0,15.9,68.5,3,0
2,366,39,0,1,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,3,0
3,266,58,0,0,41.3,58.9,12.8,23.4,5.4,8.17,5.70,60.0,10.8,70.1,3,0
4,261,57,0,0,43.5,56.2,60.4,37.3,7.3,6.79,5.99,110.0,185.2,71.8,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,400,45,0,1,38.6,56.0,20.6,21.5,14.1,6.92,5.48,69.0,14.9,69.9,3,0
119,220,52,0,0,44.7,43.5,40.9,47.2,10.4,10.08,5.00,74.0,26.5,75.4,3,0
120,155,46,0,0,49.1,60.0,19.5,20.5,3.1,7.81,5.02,102.0,20.8,70.2,3,0
121,371,40,0,1,42.9,54.7,46.2,32.8,11.8,8.29,5.25,105.0,27.9,73.9,3,0
122,176,48,0,0,46.2,59.9,14.6,25.7,5.3,6.93,6.29,66.0,23.4,75.8,3,0

## 2. Analysis:

In [9]:
# To-Do create a summary about each cluster : 
cluster=[]
predict_class=[]
true_class0=[]
true_class1=[]
true_class2=[]
true_class3=[]
true_class4=[]

predict_class0=[]
predict_class1=[]
predict_class2=[]
predict_class3=[]
predict_class4=[]

for value in df['cluster']:
    cluster.append(value)


# percentages of each target (actual Category) within each cluster 
# + Percentages of each predicted class within the cluster 
# results should be something like : 
# For clusterk : {'true_class0_percetage': 0.0,
#                 'true_class1_percetage': 0.0,
#                  'true_class2_percetage': 0.0,
#                   'true_class3_percetage': 0.0,
#                   'true_class4_percetage': 0.0,
#                   'predicted_class0_percetage': 0.0,
#                   'predicted_class1_percetage': 0.0,
#                   'predicted_class2_percetage': 0.0,
#                   'predicted_class3_percetage': 0.0,
#                    'predicted_class4_percetage': 0.0}

In [19]:
true_label=[]
for i in df['Category']:
    true_label.append(i)

In [20]:
for j in df['Predicted_class']:
    predict_class.append(j)

In [21]:
for values in range(0,len(cluster)):
    if cluster[values]==0: 
        true_class0.append(true_label[values])
        predict_class0.append(predict_class[values])
    if cluster[values]==1: 
        true_class1.append(true_label[values])
        predict_class1.append(predict_class[values])
    if cluster[values]==2:
        true_class2.append(true_label[values])
        predict_class2.append(predict_class[values])
    if cluster[values]==3:
        true_class3.append(true_label[values])
        predict_class3.append(predict_class[values])
    if cluster[values]==4:
        true_class4.append(true_label[values])
        predict_class4.append(predict_class[values])

In [22]:
from collections import Counter
print(Counter(true_class0))
print(Counter(true_class1))
print(Counter(true_class2))
print(Counter(true_class3))
print(Counter(true_class4))
print(len(true_class0))

Counter({4: 2})
Counter({4: 4, 2: 2, 3: 2})
Counter({1: 2})
Counter({0: 168, 2: 4})
Counter({0: 36, 3: 12, 2: 6, 4: 4, 1: 4})
2

In [23]:
list1=[true_class0,true_class1,true_class2,true_class3,true_class4]

In [24]:
list0=[Counter(true_class0),Counter(true_class1),Counter(true_class2),Counter(true_class3),Counter(true_class4)]

In [25]:
list_predict=[predict_class0,predict_class1,predict_class2,predict_class3,predict_class4]
list_predict_counter=[Counter(predict_class0),Counter(predict_class1),Counter(predict_class2),Counter(predict_class3),Counter(predict_class4)]

## 3. Explanations and isights :

In [31]:
# in this section you should display analysis about each cluster and comment those one by one 
for i in range(0,len(list0)):
    print()
    print("For cluster " + format(i))
    print()
    for j in range(0,5):
        print("true_class "+ format(j) + " percentage: " + format(list0[i][j]/len(list1[i])))
    for x in range(0,5):
        print("predict_class " + format(x) + " percentage: " + format(list_predict_counter[i][x]/len(list_predict[i])))

For cluster 0

true_class 0 percentage: 0.0
true_class 1 percentage: 0.0
true_class 2 percentage: 0.0
true_class 3 percentage: 0.0
true_class 4 percentage: 1.0
predict_class 0 percentage: 1.0
predict_class 1 percentage: 0.0
predict_class 2 percentage: 0.0
predict_class 3 percentage: 0.0
predict_class 4 percentage: 0.0

For cluster 1

true_class 0 percentage: 0.0
true_class 1 percentage: 0.0
true_class 2 percentage: 0.25
true_class 3 percentage: 0.25
true_class 4 percentage: 0.5
predict_class 0 percentage: 1.0
predict_class 1 percentage: 0.0
predict_class 2 percentage: 0.0
predict_class 3 percentage: 0.0
predict_class 4 percentage: 0.0

For cluster 2

true_class 0 percentage: 0.0
true_class 1 percentage: 1.0
true_class 2 percentage: 0.0
true_class 3 percentage: 0.0
true_class 4 percentage: 0.0
predict_class 0 percentage: 1.0
predict_class 1 percentage: 0.0
predict_class 2 percentage: 0.0
predict_class 3 percentage: 0.0
predict_class 4 percentage: 0.0

For cluster 3

true_class 0 percentage: 0.9767441860465116
true_class 1 percentage: 0.0
true_class 2 percentage: 0.023255813953488372
true_class 3 percentage: 0.0
true_class 4 percentage: 0.0
predict_class 0 percentage: 1.0
predict_class 1 percentage: 0.0
predict_class 2 percentage: 0.0
predict_class 3 percentage: 0.0
predict_class 4 percentage: 0.0

For cluster 4

true_class 0 percentage: 0.5806451612903226
true_class 1 percentage: 0.06451612903225806
true_class 2 percentage: 0.0967741935483871
true_class 3 percentage: 0.1935483870967742
true_class 4 percentage: 0.06451612903225806
predict_class 0 percentage: 1.0
predict_class 1 percentage: 0.0
predict_class 2 percentage: 0.0
predict_class 3 percentage: 0.0
predict_class 4 percentage: 0.0

Cluster 0 : we can clearly see that the cluster number 0 contain 100% the category number 4 "Cirrhosis" and the same thing for the predict one! nothing about the other categories 

Cluster 1 :  25% both of class 2 and 3 and end with 50% from class 4 in the true labels,
for the predicted values , we have 100% from class 0

Cluster 2 : contain 100% from category 1  which refer to "suspect Blood Donor" 
for the predicted one , it's formed with 100% from class 0

Cluster 3 : for the true label percentage, we have 100 % in class 0 
for the predicted percentage , we got 97,3% in class 0 , 1.7% in class 2 and nearly some null values for the rest of classes

Cluster 4 : for the last cluster, we have 58% in class 0, 6% for class 1, 9% for class 2, 19% for class 3, 6% class 4
for the predicted one, we have 100% from class 0

## 4. Conclusion:

Explain your findings and provide reasons for the behaviour.

We can clearly see that we had a different result result for both methods. Classification is the process of classifying the data with the help of class labels. On the other hand, Clustering is similar to classification but there are no predefined class labels, that's why we had a different result between them.

for the unsupervied learning, we had some different values from many classes.
for some clusters like the third one , we had 96% form class 0 in the true label.

In the end the two method gives a different result, the right method will be choosed depent on the case and the problem.